<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ListTodo</h1>
<a href="/add"> Add new Todo</a>
<table border="10" cellpadding="20" cellspacing="10">
    <tr>
        <th>ID</th>
        <th>Content</th>
        <th>Status</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="p : ${lists}" >
        <td th:text="${p.id}"></td>
        <td th:text="${p.content}"></td>
        <td th:text="${p.status}?'Active':'Unactive'"></td>
        <td><a th:href="@{|/edit/${p.id}|}">Edit</a></td>
        <td><a th:href="@{|/delete/${p.id}|}">Delete</a></td>
    </tr>
</table>
</body>
</html>